---
import { getCollection, render } from 'astro:content';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Layout from '~/layouts/base-layout.astro';
import Breadcrumbs from '~/components/shared/breadcrumbs.astro';
import Prose from '~/components/prose.astro';

export interface Props {
    recipe: CollectionEntry<'recipes'>;
}

export const getStaticPaths = async () => {
    const recipes = await getCollection('recipes');
    return recipes.map((recipe) => ({
        params: { slug: recipe.data.slug },
        props: { recipe }
    }));
};

const { recipe } = Astro.props;
const { Content } = await render(recipe);
---

<Layout>
    <article class="flex flex-col gap-4">
        <h1 class="text-4xl font-playfair">{recipe.data.title}</h1>
        <Breadcrumbs />
        <p class="lead">{recipe.data.content}</p>
        <Prose>
            <Content />
        </Prose>
    </article>
</Layout>
