---
const currentPath = Astro.url.pathname;
const segments = currentPath.split('/').filter((segment) => segment !== '');

const breadcrumbPaths = segments.map((segment, index) => {
    const href = '/' + segments.slice(0, index + 1).join('/');

    return {
        name: segment,
        href
    };
});

breadcrumbPaths.unshift({ name: 'home', href: '/' });
---

<nav aria-label="Breadcrumb" class="py-3">
    <ol class="flex flex-wrap items-center text-sm">
        {
            breadcrumbPaths.map((path, index) => (
                <li class="flex items-center">
                    {index > 0 && (
                        <div class="mx-3 w-1.5 h-1.5 rounded-full bg-pure-blue" />
                    )}
                    {index === breadcrumbPaths.length - 1 ? (
                        <span class="text-black dark:text-off-white">
                            {path.name}
                        </span>
                    ) : (
                        <a
                            href={path.href}
                            class="transition-colors duration-150 ease-out text-black/50 dark:text-off-white/60 hover:text-pure-blue hover:cursor-pointer"
                        >
                            {path.name}
                        </a>
                    )}
                </li>
            ))
        }
    </ol>
</nav>
