---
export const prerender = true;

import BaseLayout from '~/layouts/base-layout.astro';
import Link from '~/components/shared/link.astro';
import Breadcrumbs from '~/components/shared/breadcrumbs.astro';
import Arrow from '~/components/shared/arrow.astro';
---

<BaseLayout title="damitzi | music">
    <div class="flex flex-col gap-4">
        <h1 class="text-4xl font-playfair">Music</h1>
        <Breadcrumbs />
        <ul class="space-y-2 w-fit">
            <li class="flex items-center group gap-2">
                <Arrow />
                <Link url="/music/playlists" title="My playlists" internal />
            </li>
            <li class="flex items-center group gap-2">
                <Arrow />
                <Link url="/music/vinyls" title="My vinyls" internal />
            </li>
            <li class="flex items-center group gap-2">
                <Arrow />
                <Link url="/music/albums" title="My albums" internal />
            </li>
        </ul>
    </div>
</BaseLayout>
