---
export const prerender = true;

import BaseLayout from '~/layouts/base-layout.astro';
import Link from '~/components/shared/link.astro';
import GoBack from '~/components/shared/go-back.astro';
import Breadcrumbs from '~/components/shared/breadcrumbs.astro';
---

<BaseLayout title="damitzi | playlists">
    <div class="flex flex-col gap-4">
        <h1 class="text-4xl font-playfair">Music</h1>
        <Breadcrumbs />
        <!-- <GoBack fallbackPath="/music" /> -->
    </div>
</BaseLayout>
