---
export const prerender = true;

import BaseLayout from '~/layouts/base-layout.astro';
import Link from '~/components/shared/link.astro';
---

<BaseLayout title="damitzi">
    <div class="flex flex-col gap-4">
        <h1 class="text-4xl font-playfair">Hello there</h1>
        <p class="">
            I work as a web developer at <Link
                url="https://secretarium.com/"
                title="Secretarium"
            />. I specialise in building and maintaining user interfaces for
            websites and web applications. In my spare time I'm watching the
            NBA, listening to <Link url="/music" title="music" internal />, and
            baking <Link url="/bread" title="bread" internal />.
        </p>
    </div>
</BaseLayout>
